.grid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1vh;
	font-family: 'Exo 2', sans-serif;
	text-align:center;
	font-size: 25px;
	color: #260342;
	text-align:center;
	align-items: center;
}

.grid2 {
	display:grid;
	grid-template-columns:1fr 1fr ;
	grid-gap: 1vh;
	margin-top: 1vh;
	font-family: 'Exo 2', sans-serif;
	text-align:center;
	font-size: 25px;
	color: #260342;
	text-align:center;
}

.grid3 {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap: 1vh;
	margin-top: 1vh;
	font-family: 'Exo 2', sans-serif;
	text-align:center;
	font-size: 25px;
	color: #260342;
}

.grid-colspanh {
	background-image: url("images/headerbackgrounduni.png");
	grid-column:span 5;
	color: #fcf8e5;
	font-size:70px;
	text-align:center;
}

.grid-colspan1tab {
	background-color: #2b1042;
	grid-column:span 1;
	text-align:center;
	font-family: 'Exo 2', sans-serif;
	font-size: 15px;
}

.grid-colspan1 {
	background-color: #d0bce0;
	grid-column:span 1;
	height: 100%;
	display: grid;
	align-items: center;
}

.grid-colspan2 {
	grid-column:span 2;
	background-color: #d0bce0;
	height: 100%;
	display: grid;
	align-items: center;
}

.grid-colspan3 {
	background-color: #d0bce0;
	grid-column:span 3;
	height: 100%;
	display: grid;
	align-items: center;
}

.grid-colspan5 {
	background-color: #d0bce0;
	grid-column:span 5;
	height: 100%;
	display: grid;
	align-items: center;
}

.hyperlink:hover {
	color:  #ffffff;
}

.hyperlink {
	color:  #f9bdf4;
}

.hyperlink1 {
	color:#260342:
}

.hyperlink1:hover {
	color:  #f9bdf4;
}

::-webkit-scrollbar { 
    display: none; 
}

p {
	padding-left:50px;
	padding-right:50px;
}

.mandela {
    margin-left: auto;
    margin-right: auto;
}

.linespace {
	line-height: 50px;
}